@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.title {
    display: inline;
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Black Ops One';
    background-clip: text;
    font-size: 4rem;
    text-align: center;
    font-family: "Black Ops One", sans-serif;
}
.top {
    margin-left: 10px;
    width: 97%;
    padding: 10px;
    text-align: center;
    color: white;
}

.mid {

    width: 900px;
    height: 550px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    text-align: left;
    
}



video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.Textbox {
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.heading {
    font-size:50px;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color:#ffffff;
    font-size: 50px;
    border-radius: 10px;
    text-align: left;
    color: white;
    text-emphasis-color: white;
    
}


.subheading {
    align-items: left;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.everything {
    text-align: left;
    color: white;
    margin-left: 45px;
    margin-top: 0px;
    padding-top: 0px;
}


.transferbutton {
    width: 210px;
    height: 55px;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
    background-color:mediumseagreen;
}

.Enter_location {
    font-size: 50px;
    background-clip: text;
    margin-top: 0px;
    padding-top: 0px;
} 


.topic {
    font-size: 60px;
    background-clip: text;
    margin-top: 0px;
    padding-top: 0px;
    color: #ffffff;
    
}

.mid2 {
    font-size: 50px;
    background-color: #ffffff;
    height: 100px;
    width: 1000px;
}



.transferbutton2 {
    width: 210px;
    height: 55px;
    align-items: center;
    margin-left: 30px;
    font-size: 25px;
    border-radius: 10px;
    background-color:mediumseagreen;
}

.submit {
    width: 210px;
    height: 55px;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
    background-color:mediumseagreen;
}

.textbox {
    width: 200px;
    height: 40px;
}

h2 {
    color: #ffffff;
    font-size: 60px;
}

.backtohome {
    width: 210px;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
    background-color:mediumseagreen;
}

.transferbutton3 {
    width: 210px;
    height: 55px;
    align-items: center;
    margin-left: 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color:mediumseagreen;
}

.subheading2 {
    background-color: #348947;
    color: #ffffff;
    text-align: center;
    margin: auto;
    font-size: 50px;
    height: 900px;
    width: 1000px;
    align-items: center;
}

.subheading3 {
    font-size: 30px;

}

.transferbutton4 {
    width: 210px;
    height: 55px;
    align-items: center;
    margin-left: 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color:mediumseagreen;
}
