{{template "standard" .}}

{{define "title"}} CarboPrint {{end}}

{{define "css"}} <link rel="stylesheet" href="../static/css/new-carboprint.css"> {{end}}

{{define "js"}} <script src="../static/js/carboprint.js"></script> {{end}}

{{define "content"}}
    <div class="top">
        <img class="image" src="../static/images/eco-earth-image.svg" alt="EcoEarthImage" width="60px" height="60px">
        <h1 class="title">CarboPrint</h1>
    </div>
    <div class="mid">
        <br>
        <br>
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators" style="z-index: -1000;">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
          </div>
            <div class="carousel-inner">
              <form id="userForm">
              <div class="carousel-item active">
                <!-- First Question starts here-->
                <form id="userForm">
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstName" name="firstName" required><br><br>
                  
                  <label for="lastName">Last Name:</label>
                  <input type="text" id="lastName" name="lastName" required><br><br>
                
              </div>
              <div class="carousel-item">
                <!-- Second Question -->
                <label for="vehicleOwned">Do you own a vehicle?(Yes/No)</label>
                <input type="text" name="vehicleOwned" id="vehicleOwned">

              </div>
              <div class="carousel-item">
                <!-- Third Question-->
                <label for="foodType">Choose one of the foodTypes from the drop-down</label>
                <input id="foodType" list="foodTypes" name="foodType">
                <datalist id="foodTypes">
                  <option value="Vegetarian">
                  <option value="Lacto-Vegetarian">
                  <option value="Non-Vegetarian">
                  <option value="Pescetarian">
                  <option value="Flexitarian">
                </datalist>
              </div>
              <div class="carousel-item">
                <!-- Fourth Question -->
                <label for="meatType">Choose multiple meat you eat from the list divided by a space <!-- Leave empty as ur veg --></label>
                <input id="meatType" name="meatType">
                <br>
                <br> 
                <ul style="list-style-type: none;">
                  <li class="carboprint-li">Beef</li>
                  <li class="carboprint-li">Lamb</li>
                  <li class="carboprint-li">Bacon</li>
                  <li class="carboprint-li">Pork</li>
                  <li class="carboprint-li">Turkey</li>
                  <li class="carboprint-li">Duck</li>
                  <li class="carboprint-li">Seafood</li>
                </ul>

              </div>
              <div class="carousel-item">
                <label for="clothType">What type of cloth do you mostly use? Choose One from the list</label>
                <input type="text" name="clothType" id="clothType">
                <br>
                <br>
                <ul>
                  <li class="carboprint-li">Silk</li>
                  <li class="carboprint-li">Satin</li>
                  <li class="carboprint-li">Georgette</li>
                  <li class="carboprint-li">Nylon</li>
                  <li class="carboprint-li">Wool</li>
                  <li class="carboprint-li">Rayon</li>
                  <li class="carboprint-li">Denim</li>
                  <li class="carboprint-li">Jersey</li>
                  <li class="carboprint-li">Cotton</li>
                </ul>
              </div>
              <div class="carousel-item">
                <label for="InternationalTravelPerYear">How many times do you travel international per year?</label>
                <input type="number" name="IntTravelPerYear" id="IntTravelPerYear">
              </div>
              <div class="carousel-item">
                <label for="buildingType">What type of building you live in?Choose one from list</label>
                <input type="text" name="buildingType" id="buildingType">
                <br>
                <br>
                <ul>
                  <li class="carboprint-li">High-Rise</li>
                  <li class="carboprint-li">Independent</li>
                  <li class="carboprint-li">Low-Rise</li>
                </ul>
              </div>
              <div class="carousel-item">
                <label for="waterUsageDay">How many litres of water you use per day?</label>
                <input type="number" name="waterUsageDay" id="waterUsageDay">
              </div>
              <div class="carousel-item">
                <label for="transportType">What type of transport do you use?Type one from the list</label>
                <input type="text" name="transportType" id="transportType">
                <br>
                <br>
                <ul>
                  <li class="carboprint-li">Bus</li>
                  <li class="carboprint-li">Bike</li>
                  <li class="carboprint-li">Car</li>
                  <li class="carboprint-li">Train</li>
                </ul>
              </div>
              <div class="carousel-item">
                <label for="workCulture">Do you work at home/at office?</label>
                <input type="text" name="workCulture" id="workCulture">
              </div>
              <div class="carousel-item">
                <label for="Gardens">Do you garden plants or not? (Yes/No)</label>
                <input type="text" name="Gardens" id="Gardens">
              </div>
              <div class="carousel-item">
                <label for="fuelTypeVehicle">What fuel are you using for your vehicles?</label>
                <input type="text" name="fuelTypeVehicle" id="fuelTypeVehicle">
              </div>
              <div class="carousel-item">
                <label for="fuelTypeDomestic">What fuel are you using at home? For domestic use?</label>
                <input type="text" name="fuelTypeDomestic" id="fuelTypeDomestic">
              </div>
              <div class="carousel-item">
                <label for="DailyTravel">How many kilometres do you travel daily?</label>
                <input type="number" name="DailyTravel" id="DailyTravel">
              
              </div>
              <div class="carousel-item">
                <!-- User's Processed OUTPUT -->
                <input type="submit">
              </div>
              <div class="carousel-item">
                <!-- User's Processed OUTPUT -->
                <h1>Your carbon foot print is: </h1>
                <br>
                <h2 id = "cf"></h2>
              </div>
              </form> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon next" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      <br>
      <br>
      <br>
      <br>

     </div>  
    <video id="background-video" autoplay loop muted poster="../static/images/carboprint-bg-video.mp4">
        <source src="../static/images/carboprint-bg-video.mp4" type="video/mp4">
    </video>
{{end}}
</body>
</html>