{{template "logup" .}}

{{define "title"}}Forgot Password{{end}}

{{define "content"}}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{index .CSRFToken}}">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
        </div>

        {{if index .CustomErrors "emailRequired"}}
            <label class="text-danger">{{index .CustomErrors "emailRequired"}}</label>
            <br>
            <br>
        {{end}}

        {{if index .CustomErrors "emailNotFound"}}
            <label class="text-danger">{{index .CustomErrors "emailNotFound"}}</label>
            <br>
            <br>
        {{end}}        
        
        <button type="submit" class="btn btn-primary">Send OTP</button>
    </form>
{{end}}
