{{template "logup" .}}

{{define "title"}}Forgot Password{{end}}

{{define "content"}}
    <form method="post" id="send-otp-form" action="">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
        </div>
        
        <button type="submit" class="btn btn-primary" id="submit_old_form">Send OTP</button>
    </form>
{{end}}
