{{template "standard" .}}

{{define "title"}} Animated Scroll Videos {{end}}

{{define "css"}} <link rel="stylesheet" href="../static/css/home.css"> {{end}}

{{define "js"}} <script src="../static/js/home.js"></script> {{end}}

{{define "content"}}
    <div class="heading">
    <h1>Hello there, welcome to TBD</h1>
  <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus fermentum tellus sit amet consectetur. Donec at nunc vitae massa vestibulum aliquet.</p> -->
    </div>
    <div class="box welcome">
        <h2>welcome</h2>
        <video src="../static/images/factory.mp4" muted></video>
    </div>
    <div class="box garbage">
        <h2>recycle guide and locator</h2>
        <video src="../static/images/garbage dumpyard.mp4" muted></video>
    </div>
    <div class="box game">
        <h2>game based on sdg</h2>
        <video src="../static/images/factory.mp4" muted></video>
    </div>
    <div class="box factory">
        <h2>carboprint</h2>
        <video src="../static/images/garbage dumpyard.mp4" muted></video>
    </div>
    <div class="box smarthome">
        <h2>smart home</h2>
        <video src="../static/images/factory.mp4" muted></video>
    </div>
    <div class="box sdg">
        <h2>sdg</h2>
        <video src="../static/images/garbage dumpyard.mp4" muted></video>
    </div>
    <footer>
        TBD Landing Page    
    </footer>
{{end}}
