{{template "standard" .}}

{{define "title"}} Home Recycling {{end}}

{{define "css"}} <link rel="stylesheet" href="../static/css/recycle-locator-css.css"> {{end}}

{{define "content"}}
<div class="content">
    <div class="top">

        <h1 class="title">Recycle locator</h1>


    </div>
    


        <div class="subheading2">
        <h4 >Here are some ways you can recycle at home</h4>
        <p class="subheading3">Upcycling: Transform old or unused items into something new and useful. For example, you can turn glass jars into candle holders, or use old t-shirts to make reusable shopping bags.<br><br>

            Composting: Create a compost pile or use a compost bin to recycle organic waste such as food scraps, coffee grounds, and yard trimmings into nutrient-rich compost for your garden.<br><br>
            
            E-waste recycling: Recycle old electronics like phones, computers, and batteries responsibly. Many communities have drop-off locations or recycling programs specifically for electronic waste.<br><br>
            
            Clothing and textile recycling: Donate gently used clothing to thrift stores or charitable organizations. Old clothing that can't be donated can be repurposed into cleaning rags or recycled into new textiles.<br><br>
            
            Paper recycling: Collect and recycle paper and cardboard materials. Many municipalities offer curbside recycling programs for paper products, or you can reuse paper for crafts or packing material before recycling.</p>


        </h4>
        </div>

        <br><br>
        
     <a href="/recycle-locator">
        <button class="transferbutton4" >Back to main page ➡</button>
     </a>



     <video autoplay muted loop id="../static/images/recycle-locator-bg-video.mp4">
        <source src="../static/images/recycle-locator-bg-video.mp4" type="video/mp4">
      </video>
</div>
{{end}}