{{template "standard" .}}

{{define "title"}} Home {{end}}

{{define "css"}} <link rel="stylesheet" href="../static/css/home.css.css"> {{end}}

{{define "js"}} <script src="../static/js/index.js"></script> {{end}}

{{define "content"}}
    <div class="heading">
    <h1>Hello there, Welcome to EcoRegulators</h1>
    <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus fermentum tellus sit amet consectetur. Donec at nunc vitae massa vestibulum aliquet.</p> -->
    </div>
    <div class="box welcome">
        <h2>welcome</h2>
        <video src="../static/images/factory.mp4" mute></video>
    </div>
    <div class="box garbage">
        <h2>recycle guide and locator        </h2>
        <a href="/recycle-locator" class="visit-link" style="background-color: green; display: block;">Visit</a>
        <video src="../static/images/factory.mp4" muted></video>
    </div>
    <div class="box factory">
        <h2>carboprint        </h2>
        <a href="/carboprint" class="visit-link">Visit</a>
        <video src="../static/images/factory.mp4" muted></video>
    </div>
{{end}}
