{{template "logup" .}}

{{define "title"}}Login{{end}}

{{define "content"}}    
    <form action="" method="post" class="auth-form text-center">
        <input type="hidden" name="csrf_token" value="{{index .CSRFToken}}">
        <h2>Login</h2>
        <br>
        <div class="mb-3">
            <label for="username_entered" class="form-label">Enter Username, Email or Phone</label>
            <input type="text" class="form-control" id="username" name="username_entered" required placeholder="Enter username, email or phone">
        </div>

        <div class="mb-3">
            <label for="password_entered" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password_entered" required placeholder="Enter password">
        </div>
        <a href="/sign-up" style="color: #fff;">Or Sign Up</a>
        <br>
        <br>

        <a href="/forgot-password" style="color: #fff;">Forgot Password?</a>

        <br>
        <br>    

        {{if index .CustomErrors "notFound"}}
            <label class="text-danger">{{index .CustomErrors "notFound"}}</label>
            <br>
            <br> 
        {{end}}

        <button type="submit" class="btn btn-primary">Submit</button>       
    </form>  
{{end}}