{{template "standard" .}}

{{define "title"}} Recycle Locator {{end}}

{{define "css"}} <link rel="stylesheet" href="../static/css/recycle-locator-css.css"> {{end}}

{{define "content"}}
<div class="content">
    <div class="top">

        <h1 class="title">Recycle locator</h1>

    </div>
    <div class="everything">
    
    <br><br><br><br><br><br>
    
    <p class="topic">Enter your location to know the nearby recycling Facility</p>

    <br><br><br><br><br>

    <div class="Enter_location">

    <form action="https://www.google.com/maps" method="get" target="_blank">
    <label for="location">Where are you?</label>
    <input class="textbox" type="text" id="location" name="q" placeholder="Enter location here" required style="font-size: 1rem;">
    <input type="hidden" name="q" value="recycling centers">
    <button class="submit" type="submit">Search for recycling centers</button>


    </form>
 

    </div>
    <br><br><br>

    <a href="/recycle-locator">
        <button class="backtohome">Back to main page ➡</button>
        </a>   

    </div>

    <video autoplay muted loop id="../static/images/recycle-locator-bg-video.mp4">
        <source src="../static/images/recycle-locator-bg-video.mp4" type="video/mp4">
      </video>
</div>
{{end}}