{{template "standard" .}}

{{define "css"}}
        <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" >
        <link rel="stylesheet" href="../static/css/recycle-locator.css">
{{end}}

{{define "title"}}Recycle Locator{{end}}

{{define "content"}} 
    <div class="top">
        <h1 class="title">Recycle locater</h1>
    </div>

    <br><br><br>


    <div class="mid">

        <h2 class="heading">Finding a nearby recycling Facility</h2>

        <h4 class="subheading">Enter your location to find out what you can recycle in our local area</h4>
        

        <br><br><br><br><br><br>

        <div class="Enter_location">

        <form action="https://www.google.com/maps" method="get" target="_blank">
        <label for="location">Where are you?</label>
        <input type="text" id="location" name="q" placeholder="Enter location here" required>
        <input type="hidden" name="q" value="recycling centers">
        <button type="submit">Search for recycling centers</button>

        </form>
      
        </div>
        
    </div>

    <video autoplay muted loop id="../static/images/background-video.mp4">
        <source src="../static/images/background-video.mp4" type="video/mp4">
      </video>
            
{{end}}

{{define "js"}}<script></script>{{end}}

