{{template "logup" .}}

{{define "content"}}
    <form method="post" id="reset-password-form">
        <h3>Reset Password</h3>
        <br>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">

            <br>

            <label for="reset_password" class="form-label">Enter new password:</label>
            <input type="text" class="form-control" name="reset_password">

            <br>

            <label for="confirm_password" class="form-label">Confirm new password:</label>
            <input type="text" class="form-control" name="confirm_password">
        </div>

        <label class="text-danger">{{index .CustomErrors "errorPassword"}}</label>

        <br>
        <br>
        
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
{{end}}