{{template "standard" .}}

{{define "title"}} Gloabl Resource Production {{end}}

{{define "css"}} <link rel="stylesheet" href="../static/css/resource-status.css"> {{end}}

{{define "content"}}
    {{$res := index .Data "countryProductionDetail"}}

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{index .CSRFToken}}">

        <h3>Get Resource Production in a Country</h3>

        <br>
        <br>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="countryCoal" class="form-label">Enter country</label>
                <input type="text" name="countryCoal" class="form-control" placeholder="Enter a country" value="{{if $res}} {{$res.Country}} {{end}}" required>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                
                <label for="yearCoal" class="form-label">Enter desired year from 1965</label>
                <input type="text" name="yearCoal" class="form-control" placeholder="Enter desired year" value="{{if $res}} {{$res.Year}} {{end}}" required>
            </div>
        </div>

        <br>
        <br>

        <button type="submit" class="btn btn-primary">Get Data</button>

        <br>
        <br>
        <label class="text-danger">{{index .CustomErrors "countryNotFound"}}</label>

        {{if $res}}
            <table class="table table-striped table-dark">
                <tr>
                    <td>Country</td>
                    <td>Code</td>
                    <td>Year</td>
                    <td>Gas Production (in TWh)</td>
                    <td>Coal Production (in TWh)</td>
                    <td>Oil Production (in TWh)</td>
                </tr>

                <tr>
                    <td>{{$res.Country}}</td>
                    <td>{{$res.Code}}</td>
                    <td>{{$res.Year}}</td>
                    <td>{{$res.GasProduction}}</td>
                    <td>{{$res.CoalProduction}}</td>
                    <td>{{$res.OilProduction}}</td>
                </tr>
            </table>

            <p class="text-warning">*If field is empty, data is insufficient</p>

            <p>Data from <a href="https://ourworldindata.org/fossil-fuels">OurWorldInData</a></p>
        {{end}}
    </form>
{{end}}