{{template "standard" .}}

{{define "css"}} <link rel="stylesheet" href="../static/css/resource-status.css"> {{end}}

{{define "content"}}
    {{$res := index .Data "countryRow"}}

    <form method="post">
        <h3>Get Resource Consumption Status of a Country</h3>
        <div class="mb-3 justify-content-center">
            <label for="country" class="form-label">Enter Desired Country:</label>
            <input type="text" class="form-control" id="country" name="country" value="{{if $res}}{{$res.Country}}{{end}}" placeholder="Enter desired country">
        </div>
        <button type="submit" class="btn btn-primary">Enter</button>
        <br>
        <br>
        <label class="text-danger">{{index .CustomErrors "noCountry"}}</label>

        {{if $res}}
        <h3>Usage of Resources by {{$res.Country}}</h3>
        <table class="table table-striped">
            <tr>
                <td>Country</td>
                <td>Oil</td>
                <td>Electricity</td>
                <td>Coal</td>
                <td>Natural Gas</td>
                <td>Biofuel</td>
            </tr>
            <tr>
                <td>{{$res.Country}}</td>
                <td>{{$res.Oil}}</td>
                <td>{{$res.Electricity}}</td>
                <td>{{$res.Coal}}</td>
                <td>{{$res.NaturalGas}}</td>
                <td>{{$res.Biofuel}}</td>
            </tr>
        </table>

        <p>Data from <a href="https://worldpopulationreview.com/">WorldPopulationReview</a></p>
    {{end}}

    </form>
    
{{end}}